@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #8fdd40;
  --secondary-color: #6265ed;
  --background-color: #f4f0ff;
  --text-color: #7073ff;
}

body {
  color: rgb(53, 52, 52);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
